.waist-graph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.waist-graph__title {
  font-size: 20px;
  font-weight: bold;
}

.waist-graph__wrapper {
  width: 900px;
  overflow: hidden;
}
